<!DOCTYPE html>
<html>
<head>
	<title>About</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div id="blur">
		{{>header}}
		<div id="content">
<br />
{{>mead}}
<div style="width: 150px;height: 150px;border-radius: 50%; margin:0 auto;">
<img src="/img/a.png" style="width: 150px;height: 150px;border-radius: 50%;" />
</div>
<h2 style="margin:0;padding: 0; position: relative;left: 220px; top: 20px;color:#FF5733;font-family: Matura MT Script Capitals">Nishchhal Prajapat</h2>
<br>
<p style="color:white;position: relative;top: 20px; font-family: Lucida Handwriting;">
	Hii Guys I am Nishchhal Prajapat. I am currently pursuing b.tech from jawaharlal institute of technology . I am very pasinating about web developement 	i am enjoy in back-end with node js
	technology i am creating many project in full stack and also front end .<br>
	This application is for knowing the current Temprature and weather forecasting .
	this app is very usefull for your to find temprature and forecasting of any cities or any
	country.<br><br>
	Your can follow me on :-<br>
	instagramm:- nishchhal__<br>
	LindIn:-Nishchhal Prajapat
</p>
{{>footer}}
</body>
</html>