<!DOCTYPE html>
<html>
<head>
	<title>help</title>
	
</head>
<body>
	<div id="blur">
{{>header}}
	<div id="content">
		{{>mead}}
		<p style="color:white;position: relative;top: 20px; font-family: Lucida Handwriting;">
			<br><br><br>
			if you have a any problem regarding to our application you can also contect us on 
			email id or instagram<br><br>
			Email-Id:-nishchha*****apat<br>
			instagram:-nishchhal__<br>
			Mobile-Number:- 626******11
		</p><br><br><br>
	{{>footer}}
</div>
</div>
</body>
</html>