<!DOCTYPE html>
<html>
<head>
	<title>Weather-App</title>
	<link rel="icon" type="icon" href="/img/weather.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<div id="blur">
	{{>header}}

		<div id="content" >
			{{>mead}}
			<form>
				<input name="search" placeholder="search your location" id="search-box">
	<button id="btn">submit</button>
	<br>
<i class="fa fa-cloud" style="font-size:150px;color:#FF5733;margin-left: 20px;margin-top: 10px"></i>
		<br>

	<i class="fa fa-cloud" style="font-size:150px;color:#FF5733;float:right;position: relative;top: -150px"></i>
	<p id="sms3"></p>
	<br>
	<p id="sms1"></p>
	<br>
	<p id="sms11"></p>
	<br>
		<p id="sms2"></p>
		<br>
			<p id="sms8"></p>
		<br>
	<p id="sms9"></p>
		<br>

	<div id="content-right">
	<p id="sms4"></p>
	<br>
	<p id="sms5"></p>
	<br>
	<p id="sms6"></p>
	<br>
	<p id="sms7"></p>
		<br>

	<p id="sms10"></p></div>
</form>
			
{{>footer}}
</div>
</div></div>
<script src="/js/script.js"></script>
</body>
</html>