

<!DOCTYPE html>
<html>
<head>
	<title>Try Surver</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body >
	<p id="footer-name"><p id="ft-name">Created by {{name}}<p></p>
</body>
</html>