<!DOCTYPE html>
<html>
<head>
	<title>Try Surver</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div id="header">
<div id="title">
	<h1 style="margin:0;padding: 0px;"><u>Weather App</u></h1>
</div>
<br>
	<div id="menu">
<a href="/">Home </a>
<a href="/about">About </a>
<a href="/help">Help </a>
</div>
</div>
</body>
</html>



	